<% layout('layout') -%>



<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <form method = "post">

      <h1> Add Question </h1>


    <div class="form-group">
      <label="name">Question: </label>
      <input type= "text" class="form-control" name ="name">
    </div>

    <div class="form-group">
      <label="option1">Option1: </label>
      <input type= "text" class="form-control" name ="option1">
    </div>

    <div class="form-group">
      <label="option2">Option2: </label>
      <input type= "text" class="form-control" name ="option2">
    </div>
    <div class="form-group">
      <label="option3">Option3: </label>
      <input type= "text" class="form-control" name ="option3">
    </div>
    <div class="form-group">
      <label="option4">Option4: </label>
      <input type= "text" class="form-control" name ="option4">
    </div>
    <div class="form-group">
      <label="answer">Answer </label>
      <input type= "text" class="form-control" name ="answer">
    </div>



      <button type="submit" class="btn btn-success">Submit</button>
    </form>

  </div>
</div>
