<% layout('layout') -%>
<br/>
<br/>
<div class="container">

  <div class="row">
    <div class="col-sm-6 col-md-4">

  <li><a href="/add-template">Add Template</a></li>
  <li><a href="/add-language">Add Language</a></li>
  <li><a href="/review">Review Code </a></li>
  <table>

  <% for(var i=0; i<templates.length;i++) { %>
  <tr>  <%= templates[i].name %></tr>
    <% } %>

</table>
</div>
</div>
</div>
