
<footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h4 style="color:#088da5">Links</h4>
                    <ul class="list-unstyled">
                        <li><a style="color:#fffcff" href="/">Home</a></li>
                        <li><a style="color:#fffcff" href="/about">About</a></li>
                        <li><a style="color:#fffcff" href="/contactus">Contact</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4 col-sm-offset-5">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+" target="_blank"><img src="/img/googleplus.png" class="img-responsive"></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=" target="_blank"><img src="/img/facebook2.png" class="img-responsive"></a>
                        <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/" target="_blank"><img src="/img/linkedin2.png" class="img-responsive"></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/" target="_blank"><img src="/img/twitter.jpg" class="img-responsive"></a>
                        <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/" target="_blank"><img src="/img/youtube2.png" class="img-responsive"></a>
                        <a class="btn btn-social-icon" href="mailto:" target="_blank"><img src="/img/email.png" class="img-responsive"></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p style="color:#fffcff" align=center>© Copyright 2017 Coditec.Inc</p>
                </div>
            </div>
        </div>
    </footer>
