<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Coditec</title>
    <link rel="shortcut icon" href="/img/favicon.ico" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href ="/css/bootstrap-social.css">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="/css/font-awesome.min.css" rel="stylesheet">
<link href="/css/mystyles.css" rel="stylesheet">
 <link rel="stylesheet" href="/css/bootstrap-select.min.css" />
 <link rel="stylesheet" href="/css/animate.min.css" />
</head>

  <body>
 <div id="holder">
     <div id="body">
<% include ./partials/navbar %>


<%- body -%>


<div id="footer">
<% include ./partials/footer %>
     </div>
      </div>
      </div>
      <script src="/js/badgecontroller.js"></script>
      <script src="/js/imagecontroller.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
  <script src="/js/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

  </body>
</html>
