<% layout('layout') -%>



<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <% if (message.length>0) { %>
     <div class="alert alert-danger alert-dismissible">
       <button  type="button" class="close" data-dismmiss="alert" arial-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
       <%= message %>
     </div>

  <%  } %>
    <form method = "post">

      <h1> Login </h1>


    <div class="form-group">
      <label="name">Email: </label>
      <input type= "email" class="form-control" name ="email">
    </div>
    <div class="form-group">
      <label="name">Password: </label>
      <input type="password" class="form-control" name= "password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

    </form>
    <br/>
      <div class="form-group">
    <h4>Don't have an account? <a href="/signup">Signup</a></h4>
  </div>
  <h2> OR</h2>
  <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
    <i class="fa fa-facebook"></i> Sign in With facebook
  </a>
  <br/>
  <a class="btn btn-block btn-social btn-github" href="/auth/github">
    <i class="fa fa-github"></i> Sign in With Github
  </a>
</div>
</div>
