<% layout('layout') -%>
<div class="container">
           <div class="row">
               <div class="col-xs-12">
                  <ul class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li class="active" href = "#">About Us</li>
                  </ul>
               </div>
               <div class="col-xs-12">
                  <h3>Coditec</h3>
                  <hr>
               </div>
           </div>

<h3>We are making a web application which will help a large portion of users</h3>
<p>In this application programmers can get basic codes for their program and they can change it accordingly.
<br/>It will save their time by preventing them to repeat code. </p>
