<% layout('layout') -%>
<div class="container">
           <div class="row">
               <div class="col-xs-12">
                  <ul class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li class="active" href = "#">About Us</li>
                  </ul>
               </div>
           </div>
           <div class="row">
           <div class="col-xs-12 col-sm-12 col-offset-2">
                  <h3 >About</h3>
                  <hr>
           </div>
          </div>
             <div class="row" style="margin:0px 0px 15px 0px">
                <div class="col-xs-12 col-sm-10 col-md-offset-1" style="background:#088DA5; color:white;padding:10px 10px 10px 20px;box-shadow: 0px 0px 18px #888888;  border-radius: 15px;">
                    <h3 class="row-text-h" style="font-size:30px;  font-family:sans-serif; color:rgba(255,255,255)">Coditec is the online code synthesis web application.</h3>
                    <p class="row-text-p" style="font-size:20px; font-family: cursive;">Coditec is helping its users by making them easily prototype their code by using our provided code templates and users can also        make their own code templates to use them for later use and also share it with others.
                        <br/><b>It will save their time by preventing them to repeat code. </b></p>
                </div>
             </div>

               <div class="row" style="margin:0px 0px 15px 0px">
                   <div class="col-xs-12 col-sm-10 col-md-offset-1" style="padding:10px 10px 10px 20px;box-shadow: 0px 0px 18px #888888;  border-radius: 15px;">
                       <h3 style="font-size:30px;  font-family:sans-serif; color:rgba(5,25,25)">
                       How it Works</h3>
                   <p style="font-size:20px; font-family: cursive;">
                      App is provided with the online editor in which users is provided with coding templates,
                      user needs to click on the template he want use in his coding editor.
                   </p>
                   </div>
               </div>
            <div class="row" style="margin:0px 0px 15px 0px">
                <div class="col-xs-12 col-sm-10 col-md-offset-1" style="background:#088DA5; color:white;padding:10px 10px 10px 20px;box-shadow: 0px 0px 18px #888888;  border-radius: 15px;">
                    <h3 class="row-text-h" style="font-size:30px; font-family:sans-serif; color:rgba(255,255,255)">About Developers</h3>
                    <div class="row">
                        <div class="col-sm-4"> <img src="/img/logo.png" class="img-responsive img-logo "><h4 class="mid">Developer 1</h4><p class="mid">Web app developer</p></div>
                        <div class="col-sm-4"> <img src="/img/logo.png" class="img-responsive img-logo "><h4 class="mid">Developer 2</h4><p class="mid">Web app developer</p></div>
                        <div class="col-sm-4"> <img src="/img/logo.png" class="img-responsive img-logo "><h4 class="mid">Developer 3</h4><p class="mid">Web app developer</p></div>

                    </div>
                </div>
             </div>
    </div>
