<% layout('layout') -%>
<div class="container">
           <div class="row">
               <div class="col-xs-12">
                  <ul class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li class="active" href = "#">About Us</li>
                  </ul>
               </div>
               <div class="col-xs-12">
                  <h3 >Coditec</h3>
                  <hr>

               <div class="row row-content">
            <div class="col-xs-12 col-sm-8 col-offset-1">    
            <h3 class="row-text-h">Coditec is the online code synthesis web application.</h3>
            <p class="row-text-p">Coditec is helping its users by making them easily prototype thier code by using our provided code templates and users can also make their own code templates to use them for later use and also share it with others.
                <br/><b>It will save their time by preventing them to repeat code. </b></p>
            </div>    
</div>
</div>  
    </div>
</div>