<% layout('layout') -%>
<div class="container">
           <div class="row">
               <div class="col-xs-12">
                  <ul class="breadcrumb">
                      <li><a href="/">Home</a></li>
                      <li class="active" href = "#">About Us</li>
                  </ul>
               </div>
           </div>
           <div class="row">
           <div class="col-xs-12 col-sm-12 col-offset-2">
               <h3 style="font-size:40px; font-family: 'Bubbler One', sans-serif;"><strong>About</strong></h3>
                  <hr>
           </div>
          </div>

                 <div class="row  wow fadeInUp">
                 <div class="col-xs-12 col-sm-6 ">

                    <div>
                    <h3 style="font-size:40px;  font-family: 'Bubbler One', sans-serif; color:rgba(255,255,255)">Coditec is  online code synthesis web application.</h3></div>
                    <div >
                    <p class="row-text-p" style="font-size:25px; font-family: 'Bubbler One', sans-serif;">Coditec is helping its users by making them easily prototype their code by using our provided code templates and users can also make their own code templates for later use and also share it with others.
                        <br/><b>It will save their time by preventing them to repeat code. </b></p></div>

                     </div>
                     <div class="row  wow fadeInUp" style="margin:0px 0px 50px 0px;">
                 <div class="col-sm-6">
                     <img src="/img/home.gif"  style="box-shadow: 0px 0px 40px #888888;  border-radius: 2px; width:600px; height:400px;" class="img-responsive"></div></div>
    </div>


             <div class="row  wow fadeInUp" style="margin:50px 0px 50px 0px;">
                 <div class="col-sm-8">
                     <img src="/img/editor.gif"  style="box-shadow: 0px 0px 40px #888888;  border-radius: 2px; width:600px; height:400px;" class="img-responsive">
                 </div>
                 <div class="col-xs-12 col-sm-4" style="margin:100px 0px 0px 0px;" >
                       <div>
                       <h3 class="panel-title" style="font-size:40px;  font-family: 'Bubbler One', sans-serif; color:rgba(5,25,25)"><strong>
                           How it Works</h3></strong></div>
                 <div>
                   <p style="font-size:25px; font-family: 'Bubbler One', sans-serif;">
                      User needs to Sign up for using the Editor. Editor is provided with various coding templates in different languages which user can  search and add in his/her code just by clicking on the code template.
                   </p>
                   </div>
                 </div>
               </div>

                <div class="row wow fadeInUp" style="margin:50px 0px 50px 0px;">

                        <div class="col-sm-12" style="margin:50px 0px 50px 0px;">
                             <h3 style="font-size:40px; font-family: 'Bubbler One', sans-serif;"class="panel-title">About Developers</h3></div>

                         <div class="row" style="margin:50px 0px 50px 0px;">
                         <div class="col-sm-4">
                             <a style="text-decoration: none;" href="https://linkedin.com/in/abhishek-saharn"><img src="/img/A.png" style="width:100px; height:100px;" class="img-responsive img-circle img-logo">            </a>
                            <h4 class="mid">Abhishek Saharn</h4><p class="mid">Web app developer</p>
                            </div>



                        <div class="col-sm-4">
                            <a style="text-decoration: none;" href="https://linkedin.com/in/manisha-kumari-0550ba102"> <img src="/img/MK.png"  style="width:100px; height:100px;" class="img-responsive img-circle img-logo">
                            </a>
                           <h4 class="mid">Manisha Kumari</h4><p class="mid">Web app developer</p></div>


                        <div class="col-sm-4"><a style="text-decoration: none;" href="https://linkedin.com/in/pallav-tripathi-906a18105"> <img src="/img/P.png"  style="width:100px; height:100px;" class="img-responsive img-circle img-logo "></a>
                        <h4 class="mid">Pallav Tripathi</h4><p class="mid">Web app developer</p></div>

                    </div>
                </div>


    </div>
