<% layout('layout') -%>



<div class="row">
  <div class="col-lg-6 col-md-offset-3">

    <% if (message.length>0) { %>
     <div class="alert alert-success alert-dismissible">
       <button  type="button" class="close" data-dismmiss="alert" arial-label="Close">
         <span aria-hidden="true">&times;</span>
       </button>
       <%= message %>
     </div>

  <%  } %>
    <form method = "post">

      <h1> Add Codes </h1>

      <div class="form-group">
        <label="name">Type: </label>

      <select name="type" class="form-control">

<% for(var i=0; i<languages.length;i++) { %>
  <option value="<%= languages[i].name %>"><%= languages[i].name %></option>
  <% } %>
</select>
      </div>

    <div class="form-group">
      <label="name">Name: </label>
      <input type= "text" class="form-control" name ="name">
    </div>

    <div class="form-group">
      <label="name">Code: </label>
      <textarea style="white-space:pre" class="form-control" rows="8" name="code"></textarea>
    </div>


    <button type="submit" class="btn btn-success">Add Code</button>
    </form>

  </div>
</div>
