<% layout('layout') -%>
<div class="full">
<div class = "jumbotron ">
         <div class = "container-fluid full-j">
                <div class = "row row-header">
                    <div class = "col-xs-12 col-sm-12">
                      <h1 class="mid coditec"  >Coditec</h1>
                    </div>
                    <p style="padding:20px;"></p>
                    <div class="col-xs-12 col-sm-12 col-offset-5">
                    <img src="/img/logo.png" class="img-responsive img-logo ">
                </div>
                </div>
     </div>
   </div>
        <div class = "container-fluid">
        <div class="row row-content">


          <div class="row" >
              <div class="col-sm-10 col-sm-offset-1 justify-content-md-center animated fadeInUp" style="background:rgba(255,255,255,0.8);">

                      <div class="row">

                      <a href="/getin"><div class="col-sm-3" > <img  src="/img/signup.png" class="img-responsive img-logo "><h3 class="mid">Sign up</h3></div></a>
                      <div class="col-sm-1" style="color:red;padding:50px 0px 0px 30px; font-size:60px;"> <h1 style="font-size:60px">&gt;</h1></div>
                      <div class="col-sm-4"> <img src="/img/computerCode.png" class="img-responsive img-logo " ><h3 class="mid">Just start Developing</h3></div>
                      <div class="col-sm-1 " style="color:red;padding:50px 0px 0px 50px;" > <h1 style="font-size:60px;">&gt;</h1></div>
                      <div class="col-sm-3" > <img src="/img/explore.png" class="img-responsive img-logo"><h3 class="mid">Explore Coditec</h3></div>

                  </div>

              </div>
           </div>
<div class="animated bounceInLeft">
         <div class = "col-xs-12 col-sm-12">

                      <h2  class="mid content-text-h animated bounceInLeft">Work on prepared Code, Save Time!</h2></div>
 <div class = "col-md-6 col-md-offset-3" style="padding:0 0 30px 0">

                       <p class="mid content-text-p">Coditec is the online web editor app helps you to code fast by providing coding templates for various common tasks.</p>

                    </div>
    </div>
         <div class="col-xs-12">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <img class="img-responsive"
                       src="/img/im1.jpg" alt="image1">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Start coding today</span></h2>
                      <p>Sign in and Code faster</p>
                      <p><a class="btn btn-primary btn-xs" href="/about">More &raquo;</a></p>
                      </div>
                  </div>
                  <div class="item">
                      <img class="img-responsive"
                       src="/img/im2.jpg" alt="image2">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Do something unique</span></h2>
                      <p>Save Time</p>
                      <p><a class="btn btn-primary btn-xs" href="/about">More &raquo;</a></p>
                      </div>
                  </div>
                  <div class="item ">
                      <img class="img-responsive"
                       src="/img/im3.jpg" alt="image3">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Learn Differnt languages</span></h2>
                      <p>Get all the codes</p>
                      <p><a class="btn btn-primary btn-xs" href="/about">More &raquo;</a></p>
                      </div>
                  </div>
              </div>

          </div>
              <div class="btn-div">
                  <a class="btn-mid btn btn-primary btn-lg" href="/getin" role="button">Signup &raquo;</a>
              </div>
          </div>
      </div>
</div>
</div>
