<% layout('layout') -%>


<!--
<div class="jumbotron">
  <div class="container">
    <h1>Get Code, Save Time!</h1>
    <p>Starting Point to create something unique.</p>
    <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
  </div>
</div> -->

<div class = "jumbotron">
         <div class = "container">
                <div class = "row row-header">
                    <div class = "col-xs-12 col-sm-10">
                      <h1>Coditec</h1>

                      <h2>Get Code, Save Time!</h2>
                      <p>Starting Point to create something unique.</p>
                      <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
                    </div>
                    <p style="padding:20px;"></p>
                    <div class="col-xs-12 col-sm-2">
                    <img src="/img/logo.jpg" class="img-responsive">
                </div>
                </div>
     </div>
   </div>

        <div class="row row-content">
         <div class="col-xs-12">
          <div id="mycarousel" class="carousel slide" data-ride="carousel">
               <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                  <div class="item active">
                      <img class="img-responsive"
                       src="/img/im1.jpg" alt="image1">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Start coding today</span></h2>
                      <p>Sign in and Code faster</p>
                      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                      </div>
                  </div>
                  <div class="item">
                      <img class="img-responsive"
                       src="/img/im2.jpg" alt="image2">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Do something unique</span></h2>
                      <p>Save Time</p>
                      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                      </div>
                  </div>
                  <div class="item ">
                      <img class="img-responsive"
                       src="/img/im3.png" alt="image3">
                      <div class="carousel-caption">
                      <h2>Code it   <span class="label label-danger">error free</span> <span class="badge">Learn Differnt languages</span></h2>
                      <p>Get all the codes</p>
                      <p><a class="btn btn-primary btn-xs" href="#">More &raquo;</a></p>
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
