<% layout('layout') -%>
<div class="container">
<img src="/img/thanks.jpg" class="img-responsive"style="padding:60px;">

<h4 align="center">Want to do coding! <a href="/aceEditor">Go to Editor</a></h4>


</div>
